# Ansible managed. role: {{ role_name }}, template: dhcpd-shared.conf.j2

{% if dhcp_ddns_update_style is defined and dhcp_ddns_update_style|lower() in ['interim'] %}
ddns-domainname "{{ dhcp_ddns_domainname }}";
ddns-updates on;
ddns-update-style {{ dhcp_ddns_update_style|lower() }}{% else %}ddns-update-style none{% endif %};
{% if dhcp_ddns_client_updates is defined and dhcp_ddns_client_updates|lower() in ['allow','deny','ignore'] %}
{{ dhcp_ddns_client_updates }} client-updates;
{% endif %}
{% if dhcp_ddns_update_static_leases is defined and dhcp_ddns_update_static_leases|length %}
update-static-leases {{ dhcp_ddns_update_static_leases }};
{% endif %}

{% if dhcp_authoritative %}
authoritative;
{% endif %}
log-facility local7;
{% if dhcp_common_default_lease_time is defined %}
default-lease-time {{ dhcp_common_default_lease_time }};
{% endif %}
{% if dhcp_common_max_lease_time is defined %}
max-lease-time {{ dhcp_common_max_lease_time }};
{% endif %}
{% for subnet in dhcp_subnets %}

{% if subnet.name is defined %}# {{ subnet.name }}
{% endif %}
subnet {{ subnet.network }} netmask {{ subnet.netmask }} {
  pool {
    failover peer "{{ dhcp_failover_name }}";
    range {{ subnet.range }};
{% if subnet.nameservers is defined %}
    option domain-name-servers {{ subnet.nameservers|join(', ') }};
{% endif %}
{% if subnet.domain_name is defined %}
    option domain-name "{{ subnet.domain_name }}";
{% endif %}
{% if subnet.domain_search is defined %}
    option domain-search "{{ subnet.domain_search|join('", "') }}";
{% endif %}
{% if subnet.ntp_servers is defined %}
    option ntp-servers {{ subnet.ntp_servers|join(', ') }};
{% endif %}
    option routers {{ subnet.routers }};
    option broadcast-address {{ subnet.broadcast }};
{% if subnet.default_lease_time is defined %}
    default-lease-time {{ subnet.default_lease_time }};
{% endif %}
{% if subnet.max_lease_time is defined %}
    max-lease-time {{ subnet.max_lease_time }};
{% endif %}
{% if subnet.static_leases is defined %}
{% for lease in subnet.static_leases %}
    host {{ lease.host }} {
      hardware ethernet {{ lease.ethernet_address }};
      fixed-address {{ lease.fixed_address }};
    }
{% endfor %}
{% endif %}
  }
}
{% endfor %}
